{% extends "employeebase.html" %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Task Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.get_status_display }}</td> 
                    <td>{{ task.priority }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">You have no tasks assigned.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
