{% extends "employeebase.html" %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Task Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.get_status_display }}</td> 
                    <td>{{ task.priority }}</td>
                    <td>
                        <a href="{% url 'uploadfile' task.id %}" class="btn btn-sm btn-primary 
                        {% if task.status == "In review" %}
                         disabled
                         {% endif %}
                        ">submit file</a>
                        <a href="https://placekittens.com/100/100/" download class="btn btn-sm btn-primary">view</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">You have no tasks assigned.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
