{% extends "employeebase.html" %}
{% block content %}
    <div class="container">
        <h2 class="my-4">Your Profile</h2>

        <form method="POST">
            {% csrf_token %}
            
            <div class="form-group mb-3">
                <label for="id_first_name">First Name</label>
                {{ form.first_name }}
            </div>
            
            <div class="form-group mb-3">
                <label for="id_last_name">Last Name</label>
                {{ form.last_name }}
            </div>
            
            <div class="form-group mb-3">
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>
            
            <div class="form-group mb-3">
                <label for="id_position">Position</label>
                {{ form.position }}
            </div>
            
            <div class="form-group mb-3">
                <label for="id_department">Department</label>
                {{ form.department }}
            </div>
            
            <div class="form-group mb-3">
                <label for="id_hire_date">Hire Date</label>
                {{ form.hire_date }}
            </div>
            
            <div class="form-group mb-3">
                <label for="id_address">Address</label>
                {{ form.address }}
            </div>

            <div class="form-group mb-3">
                {{ form.profile_picture_url }}  
                <label for="id_profile_picture_url">Profile Picture </label>
                {{ form.profile_picture_url }}  
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
{% endblock content %}
